
.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}


.App-title {
  font-size: calc(30px + 2vmin);
  font-weight: bold;
}

.App-button {
  text-decoration: underline;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #000000;
}

.App-input {
  color: #000000;
  border-color: #000000;
  margin-top: 3px;
  border-width: 2px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
